<a href="https://colab.research.google.com/github/S1nGeR11/Numpy_solutions.ipynb/blob/main/%D0%A3%D0%BF%D1%80%D0%B0%D0%B6%D0%BD%D0%B5%D0%BD%D0%B8%D1%8F_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas

**Импорт pandas**

In [ ]:
import pandas as pd

df = pd.read_csv('bank.csv')
df

      age            job  marital  education  ... pdays  previous poutcome   y
0      30     unemployed  married    primary  ...    -1         0  unknown  no
1      33       services  married  secondary  ...   339         4  failure  no
2      35     management   single   tertiary  ...   330         1  failure  no
3      30     management  married   tertiary  ...    -1         0  unknown  no
4      59    blue-collar  married  secondary  ...    -1         0  unknown  no
...   ...            ...      ...        ...  ...   ...       ...      ...  ..
4516   33       services  married  secondary  ...    -1         0  unknown  no
4517   57  self-employed  married   tertiary  ...    -1         0  unknown  no
4518   57     technician  married  secondary  ...    -1         0  unknown  no
4519   28    blue-collar  married  secondary  ...   211         3    other  no
4520   44   entrepreneur   single   tertiary  ...   249         7    other  no

[4521 rows x 17 columns]

**Прочитайте файл bank.csv, который вы положите в папку с этим ноутбуком. Обратите особое внимание на то, где находится файл .csv! **

In [3]:
import pandas as pd

df = pd.read_csv('/bank.csv')
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

**Показать первые 5 строк набора данных**

In [4]:
print(df.head(5))

   age          job  marital  education default  balance housing loan  \
0   30   unemployed  married    primary      no     1787      no   no
1   33     services  married  secondary      no     4789     yes  yes
2   35   management   single   tertiary      no     1350     yes   no
3   30   management  married   tertiary      no     1476     yes  yes
4   59  blue-collar  married  secondary      no        0     yes   no

    contact  day month  duration  campaign  pdays  previous poutcome   y
0  cellular   19   oct        79         1     -1         0  unknown  no
1  cellular   11   may       220         1    339         4  failure  no
2  cellular   16   apr       185         1    330         1  failure  no
3   unknown    3   jun       199         4     -1         0  unknown  no
4   unknown    5   may       226         1     -1         0  unknown  no

**Каков средний (средний) возраст людей в наборе данных**

In [6]:
mean_value = df['age'].mean()
print (mean_value)

41.17009511170095

41.17009511170095

**Каково семейное положение самого молодого человека в наборе данных?**

In [10]:
status = df.loc[df['age'].idxmin()]['marital']
print(status)

single

'single'

**Сколько существует уникальных категорий вакансий?**

In [17]:
unique_job_titles = df['job'].nunique()
print(unique_job_titles)

12

12

**Сколько человек в каждой категории работы? (Взгляните на ожидаемый результат)**

In [18]:
job_counts = df['job'].value_counts()
print(job_counts)

management       969
blue-collar      946
technician       768
admin.           478
services         417
retired          230
self-employed    183
entrepreneur     168
unemployed       128
housemaid        112
student           84
unknown           38
Name: job, dtype: int64

management       969
blue-collar      946
technician       768
admin.           478
services         417
retired          230
self-employed    183
entrepreneur     168
unemployed       128
housemaid        112
student           84
unknown           38
Name: job, dtype: int64

**Какой процент людей в наборе данных имеет статус женат? **

In [22]:
married_percentage = (df['marital'].value_counts(normalize=True) * 100)['married']
print(married_percentage)

61.86684361866843

61.86684361866843

**В датасете есть столбец с именем «default». Используйте метод pandas .map () для создания нового столбца под названием «default code», который содержит 0, если не было значения по умолчанию, или 1, если было значение по умолчанию. Затем покажите начало набора данных с этим новым столбцом.**

In [23]:
df['default code'] = df['default'].map({'no': 0, 'yes': 1})

print(df.head())

   age          job  marital  education default  balance housing loan  \
0   30   unemployed  married    primary      no     1787      no   no
1   33     services  married  secondary      no     4789     yes  yes
2   35   management   single   tertiary      no     1350     yes   no
3   30   management  married   tertiary      no     1476     yes  yes
4   59  blue-collar  married  secondary      no        0     yes   no

    contact  day month  duration  campaign  pdays  previous poutcome   y  \
0  cellular   19   oct        79         1     -1         0  unknown  no
1  cellular   11   may       220         1    339         4  failure  no
2  cellular   16   apr       185         1    330         1  failure  no
3   unknown    3   jun       199         4     -1         0  unknown  no
4   unknown    5   may       226         1     -1         0  unknown  no

   default code
0             0
1             0
2             0
3             0
4             0

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y,default code
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no,0
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no,0
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no,0
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no,0
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no,0

**Используя метод pandas .apply (), создайте новый столбец с именем «код брака». Этот столбец будет содержать только сокращенный код первой буквы возможного семейного положения. (Например, «m» для «замужних», «s» для «холостых» и т. Д. Посмотрите, можете ли вы сделать это с помощью лямбда-выражения**

In [25]:
df['marital code'] = df['marital'].apply(lambda x: x[0])

print(df)

      age            job  marital  education default  balance housing loan  \
0      30     unemployed  married    primary      no     1787      no   no
1      33       services  married  secondary      no     4789     yes  yes
2      35     management   single   tertiary      no     1350     yes   no
3      30     management  married   tertiary      no     1476     yes  yes
4      59    blue-collar  married  secondary      no        0     yes   no
...   ...            ...      ...        ...     ...      ...     ...  ...
4516   33       services  married  secondary      no     -333     yes   no
4517   57  self-employed  married   tertiary     yes    -3313     yes  yes
4518   57     technician  married  secondary      no      295      no   no
4519   28    blue-collar  married  secondary      no     1137      no   no
4520   44   entrepreneur   single   tertiary      no     1136     yes  yes

       contact  day month  duration  campaign  pdays  previous poutcome   y  \
0     cellular   19   oct        79         1     -1         0  unknown  no
1     cellular   11   may       220         1    339         4  failure  no
2     cellular   16   apr       185         1    330         1  failure  no
3      unknown    3   jun       199         4     -1         0  unknown  no
4      unknown    5   may       226         1     -1         0  unknown  no
...        ...  ...   ...       ...       ...    ...       ...      ...  ..
4516  cellular   30   jul       329         5     -1         0  unknown  no
4517   unknown    9   may       153         1     -1         0  unknown  no
4518  cellular   19   aug       151        11     -1         0  unknown  no
4519  cellular    6   feb       129         4    211         3    other  no
4520  cellular    3   apr       345         2    249         7    other  no

      default code marital code
0                0            m
1                0            m
2                0            s
3                0            m
4                0            m
...            ...          ...
4516             0            m
4517             1            m
4518             0            m
4519             0            m
4520             0            s

[4521 rows x 19 columns]

      age            job  marital  ... poutcome   y  marital_code
0      30     unemployed  married  ...  unknown  no             m
1      33       services  married  ...  failure  no             m
2      35     management   single  ...  failure  no             s
3      30     management  married  ...  unknown  no             m
4      59    blue-collar  married  ...  unknown  no             m
...   ...            ...      ...  ...      ...  ..           ...
4516   33       services  married  ...  unknown  no             m
4517   57  self-employed  married  ...  unknown  no             m
4518   57     technician  married  ...  unknown  no             m
4519   28    blue-collar  married  ...    other  no             m
4520   44   entrepreneur   single  ...    other  no             s

[4521 rows x 18 columns]

**Найти самое большое значение duration**

In [26]:
max_duration = df['duration'].max()
print(max_duration)

3025

3025

**Какой уровень образования наиболее часто встречается среди безработных?**

In [34]:
education_unemployed = df[df['job'] == 'unemployed']['education'].mode()[0]
print(education_unemployed)

secondary

**Каков средний (средний) возраст безработного?**

In [36]:
age_unemployed = df[df['job'] == 'unemployed']['age'].mean()
print(age_unemployed)

40.90625

40.90625